<ion-header>
  <ion-toolbar>
    <ion-title>My Location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="map-container">
    <div id="map"></div>

    <div class="map-controls">
      <ion-button (click)="refreshLocation()" color="primary">
        <ion-icon name="refresh-outline"></ion-icon>
        Refresh Location
      </ion-button>

      <ion-button (click)="clearAllMarkers()" color="danger">
        <ion-icon name="trash-outline"></ion-icon>
        Clear Markers
      </ion-button>
    </div>

    <div class="map-instructions">
      <p>Click anywhere on the map to add a custom marker</p>
    </div>
  </div>
</ion-content>
