<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let photo of photoService.photos; index as position">
        <ion-card>
          <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo, position)" class="gallery-img"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
