ion-content {
  padding: 16px;
  --background: linear-gradient(135deg, #f0f4f8, #a8c0ff);
}

ion-grid {
  margin-top: 16px; 
}

ion-row {
  display: flex;
  flex-wrap: wrap; 

  ion-col {
    padding: 8px; 

    ion-card {
      border-radius: 16px; 
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);  
      overflow: hidden;
      transition: transform 0.3s ease, box-shadow 0.3s ease; 

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }

      ion-img.gallery-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
        transition: transform 0.3s ease;


        &:hover {
          transform: scale(1.05); 
        }
      }
    }
  }
}
